<%- include('includes/head.ejs') %>   
    <div id="div_project_tab">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#div_story_list">Story List</a></li>
                <li class="tab col s3"><a href="#div_user_list">User List</a></li>
            </ul>
        </div>
   
        <div id="div_story_list" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Story ID</th>
                        <th>Story Name</th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let story of story_list) { %>
                        <tr>
                            <td> <%= story.id %> </td>
                            <td> <%= story.name %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div><!--End of story Div-->

        <div id="div_user_list" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let user of user_list) { %>
                        <tr>
                            <td> <%= user.id %> </td>
                            <td> <%= user.name %> </td>
                        </tr>
                    <% } %>                    
                </tbody>
            </table>
        </div><!--End of User Div--> 
    
    </div><!--End of Tab div--> 
    

    <div id="div_control">

    </div>



    <%- include('includes/tail.ejs') %>
    <script src="js/project.js"></script> 
    <%- include('includes/end.ejs') %>